<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand">Welcome to EmployeeLeave-Dashboard</a>
      
    </div>
    
      
      
      
  </nav>

  <table class="table mt-4">
    <thead>
      <tr >
        <th scope="col">Index</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Type of Leave</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Reason for Leave</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        
       
        
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let row of employeeData">
      
       <td>{{row.id}}</td>
       <td>{{row.firstName}}</td>
       <td>{{row.lastName}}</td>
       <td>{{row.typeofleave}}</td>
       <td>{{row.startdate}}</td>
       <td>{{row.enddate}}</td>
       <td>{{row.rfl}}</td>
       <td>{{row.leaveStatus}}</td>
      
       <td>
       
        <button (click)="approveLeave(row)" type="button" class="btn btn-outline-info" >Approved</button>
        <button (click)="rejectLeave(row)" type="button" class="btn btn-outline-danger mx-3" >Rejected</button>
        
       </td>
      
      </tr>
      
    </tbody>
  </table>
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EmployeeLeave Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Type of Leave</label>
                    <input type="text" formControlName="typeofleave" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Start Date</label>
                    <input type="date" formControlName="startdate" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">End Date</label>
                    <input type="date" formControlName="enddate" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Reason for Leave</label>
                  <input type="text" formControlName="rfl" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Status</label>
                    <input type="text" formControlName="rfl" class="form-control" id="exampleInputPassword1">
                  </div>
               
                 
                  
              </form>
        </div>
       
      </div>
    </div>
  </div>


